html,
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url("https://i.ibb.co/xf7VH3S/background-Pets2.png");
}

div#header {
    background-color: blanchedalmond;
}
ul {
    float: right;
    margin-top: 0%;
}

.container {
    width: 100%;
    width: 2000px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .images {
    width: 30%;
    align-content: center;
}

h1 {
    margin-top: 100px;
 text-align: center;
 font-family:'Segoe Script';
 font-size: 70px;
}

.container .images img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container .images h4 {
    text-align: center;
    margin-top: -80px;
    font-weight: 600;
    
}

.container .images:hover {
    transform: translate(-15px);
    box-shadow: 0 12px 14px rgba(0, 0, 0, 2);
}

